/* Dark mode colors. */
:root {
	--sl-color-accent-low: #36113e;
	--sl-color-accent: #ec4899;
	--sl-color-accent-high: #ec4899;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #fae7f6;
	--sl-color-gray-2: #d0bacc;
	--sl-color-gray-3: #a57c9f;
	--sl-color-gray-4: #6f4969;
	--sl-color-gray-5: #374151;
	--sl-color-gray-6: #1f2937;
	--sl-color-black: #111827;
}
/* Light mode colors. */
:root[data-theme='light'] {
	--sl-color-accent-low: #ebc9f3;
	--sl-color-accent: #ec4899;
	--sl-color-accent-high: #ec4899;
	--sl-color-white: #22121f;
	--sl-color-gray-1: #3a1836;
	--sl-color-gray-2: #4d2a48;
	--sl-color-gray-3: #6f4969;
	--sl-color-gray-4: #a57c9f;
	--sl-color-gray-5: #d0bacc;
	--sl-color-gray-6: #fae7f6;
	--sl-color-gray-7: #fcf3fb;
	--sl-color-black: #ffffff;
}