---
import CharacterSection from "../components/CharacterSection.astro";
import EpisodeSection from "../components/EpisodeSection.astro";
import KingdomSection from "../components/KingdomSection.astro";
import ProjectInfo from "../components/ProjectInfo.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Welcome to Astro.">
  <section class="p-5">
    <h1 class="text-5xl text-center font-extrabold text-white">
      The Adventure Time API
    </h1>
  </section>
  <main>
    <CharacterSection />
    <KingdomSection />
    <EpisodeSection />
    <ProjectInfo />
  </main>
</Layout>
