---
import CharacterSection from "../components/CharacterSection.astro";
import EpisodeSection from "../components/EpisodeSection.astro";
import KingdomSection from "../components/KingdomSection.astro";
import ProjectInfo from "../components/ProjectInfo.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Adventure Time API">
  <section class="p-5 pt-10 flex justify-center">
    <h1 class="text-4xl md:text-5xl text-center font-extrabold bg-gradient-to-r from-blue-600 via-yellow-500 to-pink-400 inline-block text-transparent bg-clip-text">
      The Adventure Time API
    </h1>
  </section>
  <main>
    <CharacterSection />
    <KingdomSection />
    <EpisodeSection />
    <ProjectInfo />
  </main>
</Layout>
