---
interface Props {
  imageUrl: string;
  alt: string;
  link: string;
  size: "size-12" | "size-14" | "size-16" | "size-18";
}

const { imageUrl, alt, size = "size-12", link } = Astro.props;
---

<a href={link} target="_blank" class="inline-block pr-2">
  <img
    class=`${size} rounded-full shadow-md border-2 border-slate-400 hover:scale-125 transition-transform`
    src={imageUrl}
    alt={alt}
  />
</a>
