---
import Logo from "./Logo.astro";
---

<header class="bg-gray-800 flex justify-between items-center px-3 md:px-5">
  <a href="/">
    <Logo class="w-10 h-10" />
  </a>

  <nav>
    <ul class="flex  p-5 gap-5">
      <li>
        <a class="text-xs md:text-xl hover:text-pink-400 text-white font-bold" href="/docs">Docs</a>
      </li>
      <li>
        <a class="text-xs md:text-xl hover:text-pink-400 text-white font-bold" href="/about">About</a>
      </li>
      <li>
        <a class="text-xs md:text-xl hover:bg-pink-400 hover:shadow-pink-600 transition-colors shadow-md text-white font-bold border-2 border-dotted border-pink-400 py-2 px-3 rounded-full" href="/support-us">Support Us</a>
      </li>
    </ul>
  </nav>
</header>
