---
import Logo from "./Logo.astro";
---

<header class="bg-white flex justify-between items-center px-5">
  <a href="/">
    <Logo class="w-10 h-10" />
  </a>

  <nav>
    <ul class="flex p-5 gap-5">
      <li>
        <a class="font-bold text-xl" href="">Docs</a>
      </li>
      <li>
        <a class="font-bold text-xl" href="/about">About</a>
      </li>
      <li>
        <a class="font-bold text-xl" href="/support-us">Support Us</a>
      </li>
    </ul>
  </nav>
</header>
