<div class="mt-10 py-20 mx-auto text-center bg-gray-800 flex flex-col gap-5">
  <ul class="flex gap-5 justify-center">
    <li class="text-white font-bold uppercase">characters: xxx</li>

    <li class="text-white font-bold uppercase">Locations: xxx</li>

    <li class="text-white font-bold uppercase">Episodes: xxx</li>
  </ul>
  <div class="uppercase text-white flex justify-center items-center gap-2">
    <span>Server Status</span>
    <span id="status" class="inline-block w-4 h-4 bg-slate-400 rounded-full"
    ></span>
  </div>

  <span class="block text-white font-bold text-sm">
    &lt; &gt; By <a
      class="underline text-pink-500"
      href="https://github.com/LuisFernandoLG" target="_blank">LuisFernandoLG</a
    >
  </span>
</div>

<script>
  const url = `${import.meta.env.PUBLIC_API_URL}/apiV1/status`;
  const $spanServerStatus = document.getElementById("status");

  document.addEventListener("DOMContentLoaded", async () => {
    try {
      const response = await fetch(url, {
        method: "GET",
        headers: {
          "Content-Type": "application/json",
          "Accept": "application/json",
        },
      });

      if ($spanServerStatus?.classList) {
        $spanServerStatus.classList.remove("bg-slate-400");
        $spanServerStatus.classList.add("bg-green-400");
      }
    } catch (error) {
      console.log({ error });
      alert(JSON.stringify(error, null, 2));
      if ($spanServerStatus?.classList) {
        $spanServerStatus.classList.remove("bg-slate-400");
        $spanServerStatus.classList.add("bg-red-400");
      }
    }
  });
</script>
